<nav class="nav">
    <div class="logo">
        uratujkota.pl
    </div>
    <div class="hamburger">
        
    </div>
    <div class="nav_content">
        <a href="/">Ogłoszenia</a>
        <a href="/mission">Misja</a>
        <a href="/login">Zaloguj się</a>
        <a href="/register">Zarejestruj się</a>
    </div>
</nav>