*{
    box-sizing: border-box;
}
:root{
    --nav_height: 84px;
    --kitty-green: #2F9C26;
    --kitty-blue: #007fff;
    --kitty-yellow: #fde047;
    --kitty-orange: #D66B1D;
    --kitty-red: #D12F2F;
}
body, input, button{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}
nav{
    display: grid;
    background-color: #303030;
    color: #fff;
    grid-template-columns: max-content max-content;
    grid-gap: 2rem;
    justify-content: space-between;
    height: var(--nav_height);
    z-index: 500;
    position: sticky;
    top: 0;
}
.logo{
    display: grid;
    align-content: center;
    padding: 0 2.75rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    height: inherit;
}
.logo h1{
    font-size: 1rem;
    font-weight: 400;
}
.logo a {
    display: flex;
    height: inherit;
    padding: .5rem 0;
    align-items: center;
    gap: 1rem;
}
.logo a img{
    display: block;
    width: auto;
    top: 30px;
    margin-bottom: -30px;
    z-index: 1000;
    height: 100px;
}
.logo a:focus {
    outline: none;
}
.hamburger{
    display: none;
}
.nav_content a{
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    padding: 0 2rem;
    height: 100%;
}
a{
    color: #fff;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
.nav_content{
    display: flex;
    gap: 2rem;
}
main{
    background-color: #181818;
    min-height: calc(100vh - var(--nav_height));
    color: #fff;
    display: grid;
}
p{
    margin: 0;
}
.advertisement_grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2.75rem;
    padding: 2.75rem;
    grid-auto-rows: max-content;
}
.advertisement_grid header{
    grid-column: 1/-1;
}
.advertisement_tile {
    border-left: 10px solid var(--kitty-green);
    border-radius: 10px;
    overflow: hidden;
    background-color: #242424;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 1rem;
    grid-gap: 1rem;
    height: 100%;
}
.advertisement_tile_content strong{
    font-size: 1.125rem;
}
img{
    width: 100%;
}
.index_grid{
    display: grid;
    grid-template-columns: 350px 1fr;
}
.advertisement_tile_img_wrapper {
    width: 100%;
    display: grid;
    border-radius: 10px;
    overflow: hidden;
}
.advertisement_tile_img_wrapper img{
    display: block;
    width: 100%;
}
.index_aside{
    background-color: #242424;
    height: 100%;
    padding: 2.75rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-auto-rows: max-content;
}
.index_aside input[type="text"],
.index_aside select,
.index_aside button,
.login_form_tile button,
.login_form_tile input,
.default_btn{
    padding: .5rem 1rem;
    border: unset;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    display: grid;
    background-color: #fff;
}
.default_btn{
    cursor: pointer;
    transition: opacity .15s;
}
.default_btn:hover{
    opacity: .9;
}
.filtering_tile{
    display: grid;
    grid-gap: .5rem;
}
input{
    box-sizing: border-box;
    width: 100%;
}
select{
    cursor: pointer;
}
.index_aside button{
    margin-top: 1.25rem;
    background-color: var(--kitty-green);
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}
.advertisement_details_grid{
    display: grid;
    grid-template-columns: 350px 1fr 350px;
    padding: 2rem 0;
    grid-gap: 2rem;
}
.advertisement_details_content{
    display: grid;
    grid-gap: 2rem;
}
.advertisement_details_header{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr max-content;
}
.advertisement_details_header h1{
    font-size: 3rem;
    grid-column: 1/-1;
    margin: 0;
}
.advertisement_details_header p{
    font-size: 1.75rem;
    margin: 0;
}
.advertisement_details_main_info{
    display: grid;
    grid-gap: 2rem;
}
.advertisement_details_cat_info{
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: .5rem;
}
.advertisement_details_cat_info h2{
    font-size: 2rem;
    margin: 0;
}
.advertisement_details_cat_info p{
    margin: 0;
    font-size: 1.25rem;
}
.advertisement_element{
    background-color: #242424;
    border-left: 10px solid #fff;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    display: grid;
    align-content: center;
    grid-auto-rows: max-content;
}
.advertisement_element_warning {
    border-left-color: var(--kitty-yellow);
    background-color: #3D3A2B;
    color: #fff;
}
.advertisement_element > strong{
    margin-bottom: .25rem;
}
.advertisement_details_cat_tile{
    display: grid;
    height: max-content;
    border-left-color: var(--kitty-green);
    grid-gap: 2rem;
}
.advertisement_details_cats_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: max-content;
}
.advertisement_details_cats_grid_column{
    display: grid;
    grid-gap: 2rem;
    grid-auto-rows: max-content;
}
.advertisement_details_cat_tile_header{
    display: grid;
    grid-gap: 2rem;
    overflow: hidden;
}
.advertisement_details_cat_image{
    border-radius: 10px;
    overflow: hidden;
}
.advertisement_details_cat_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.btn{
    background-color: var(--kitty-green);
    font-size: .875rem;
    cursor: pointer;
    color: #fff;
    font-family: "Poppins", sans-serif;
    border: unset;
    border-radius: 10px;
    padding: .5rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    transition: background-color .015s;
}
.btn_active{
    background-color: #505050;
    cursor: auto;
    grid-template-columns: 1fr max-content;
    user-select: text;
    align-content: center;
}
.btn_active .clickable_link{
    display: block;
}
.btn_active .clickable_link svg{
    height: 18px;
}
.advertisement_details_advertiser{
    display: grid;
    grid-gap: .5rem;
}
.btn svg{
    height: 24px;
    width: auto;
    fill: #fff;
}
.btn_advertisement_contact_inner{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.btn_advertisement_contact_clickable_link{
    background-color: var(--kitty-green);
    padding: 0 .5rem;
    border-radius: 10px;
    height: 24px;
    align-content: center;
    display: flex;
}
.advertisement_details_cat_additional_requirements{
    grid-column: 1/-1;
}
.advertisement_details_cat_additional_requirements > strong{
    font-size: 1.25rem;
}
.advertisement_details_cat_additional_requirements > p{
    font-size: 1.125rem;
}
.advertisement_details_cat_info_btn{
    padding: .25rem .75rem;
    border-radius: 10px;
}
.advertisement_details_cat_info_status {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    background-color: #303030;
    padding: .75rem;
    border-radius: 10px;
}
.btn_green{
    background-color: var(--kitty-green);
    color: #fff;
}
.btn_blue{
    background-color: var(--kitty-blue);
    color: #fff;
}
.btn_orange{
    background-color: var(--kitty-orange);
    color: #fff;
}
.btn_red{
    background-color: var(--kitty-red);
    color: #fff;
}
.tdu{
    text-decoration: underline;
}
.advertisement_details_cat_additional_requirements{
    display: grid;
    grid-gap: .25rem;
}

/*Login.razor.css*/
.login_wrapper{
    display: grid;
    grid-template-columns: 500px 1fr;
    min-height: calc(100vh - var(--nav_height));
}
.login_photo{
    display: grid;
    background-image: url('/imgs/loginbgc.webp');
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    height: 100%;
}
.login_container{
    padding: 2rem;
    display: grid;
    grid-gap: 2rem;
    background-color: #242424;
    grid-auto-rows: max-content;
}
.login_form{
    display: grid;
    grid-gap: 2rem;
    width: 75%;
}
.login_form_tile{
    display: grid;
    grid-gap: .5rem;
}
.login_form_tile_checkbox{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    grid-gap: 1rem;
}
.login_form_tile_checkbox input{
    display: block;
    width: 20px;
    height: 20px;
}
.login_form_tile button{
    background-color: var(--kitty-green);
    color: #fff;
}
.login_form_tile_buttons{
    display: grid;
    grid-gap: 1rem;
    text-align: center;
}
/*/Login.razor.css*/