@page "/mission"
@inherits KittySaver.Wasm.Shared.Components.ApiAwareComponentBase

<PageTitle>
    Uratujkota.pl - Nasza misja
</PageTitle>

<div class="subpage_grid">
    <aside class="subpage_sidebar">

    </aside>
    <article class="subpage_content">
        <header class="subpage_header">
            <h1>Nasza misja</h1>
        </header>
        <section class="subpage_main_info">
            <div class="subpage_description listing_element">
                <p>
                    Celem tego miejsca jest stworzenie przestrzeni, w której każdy kot mający szansę na lepsze życie, miał jeszcze większe prawdopodobieństwo na ratunek. Niezależnie od tego, czy mruczek przebywa w schronisku, fundacji, czy u osoby prywatnej — każdy może dodać ogłoszenie o adopcji całkowicie za darmo.
                    <br>
                    Jako twórca stron internetowych wiem, że prowadzenie własnej, profesjonalnej witryny to często koszt, na który nie mogą sobie pozwolić mniejsze organizacje. Zwłaszcza tam, gdzie każda złotówka liczy się podwójnie. Właśnie dlatego powstał uratujkota.pl — by pomóc tym, którzy pomagają, i by żaden kot nie musiał dłużej czekać na swój kochający dom.
                </p>
            </div>
        </section>
    </article>
    <aside class="subpage_sidebar">

    </aside>
</div>