@page "/mission"
@inherits KittySaver.Wasm.Shared.Components.ApiAwareComponentBase

<PageTitle>
    Uratujkota.pl - Nasza misja
</PageTitle>

<div class="subpage_grid">
    <aside class="subpage_sidebar">

    </aside>
    <article class="subpage_content">
        <header class="subpage_header">
            <h1>Nasza misja</h1>
        </header>
        <section class="subpage_main_info">
            <div class="subpage_description listing_element">
                <p>
                    lorem ipsum
                </p>
            </div>
        </section>
    </article>
    <aside class="subpage_sidebar">

    </aside>
</div>